/*首页的样式*/
.main {
	width: 980px;
	height: 455px;
	margin-left: 219px;
	margin-top: 10px;
}
.focus {
	position: relative;
	overflow: hidden;  /*超出部分隐藏*/
	width: 720px;
	height: 455px;
	/*background-color: purple;*/
}
.arrow-l,
.arrow-r {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	width: 24px;
	height: 40px;
	background: rgba(0, 0, 0, .3);
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-family: 'icomoon';
	font-size: 18px;

}
.arrow-r {
	right: 0;
}
.circle {
	position: absolute;
	bottom: 10px;
	left: 50px;
}
.circle li {
	float: left;
	width: 10px;
	height: 10px;
	/*background: rgba(0, 0, 0, .4);*/
	border: 1px solid rgba(255, 255, 255, .6);
	margin:0 5px;
	border-radius: 50%;
	/*鼠标经过显示小手*/
	cursor: pointer;
}
.current {
	background-color: #fff;
	box-shadow: 
}
.newflash {
	width: 250px;
	height: 455px;
}
.news {
	height: 163px;
	border: 1px solid #ccc;
}
.news-hd {
	height: 32px;
	/*dotted 点线  dashed 虚线*/
	border-bottom: 1px dotted #ccc;
	padding: 0 15px;
	font-size: 14px;
	line-height: 32px;
}
.news-hd a{
	float: right;
	font-size: 12px;
	font-family: 'icomoon';
}
.news-bd {
	padding: 10px 0 0 15px;
}
.news-bd li {
	height: 23px;
}
.lifeservice {
	overflow: hidden;  /*超出部分隐藏*/
	height: 208px;
	border: 1px solid #ccc;
	border-top: none;
}
.lifeservice ul{
	width: 252px;
}
.lifeservice li{
	float: left;
	width: 62px;
	height: 70px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.bargain {
	height: 75px;
	margin-top: 5px;
}